<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">


  <title>About Ionut Ianas </title>

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="./static/assets/images/favicon.ico"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Hallo, I'm Ionut Ianas</h3>
                  <p>I was born in Resita a city in west from Romania and I lived there until I was 25 years old ,
                    when I decided that I need a change in my life and I moved to Germany.I was educated in Resita,
                    High School was at "Traian Vuia" (Theoretische High School), Chemistry Biology Profile , after that
                    I followed the University "Eftimie Murgu" and studied "Public Administration" speciality,
                    and I ended up  with a Master degree in "European Public Administration" at the same University in 2013</p>
                  <h3>Beginner in Python and HTML</h3>
                  <p>All the time I was passionated by creating things and make them work.
                    And that pushed me to start learning computer programming on my own at the end of 2020 and now
                    I'm still learning , end probably not quiting until I became a master. At this time I have some
                    basic knowledge in Python ,HTML and CSS. I used multiple packages from Python (Ex:selenium, requests,
                    smtplib) and played with frameworks(Flask). I have a lot of small project made by me, with am
                    interesting result
                  </p>
                  <h3>From hobby to work </h3>
                  <p>It's all started like a hobby, from the desire to create a simple web page, and now I hope
                    to work in IT industry, and be challenged every day to find solutions and fix problems.</p>

                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/ionut-profil.jpg"  height="600" width="500" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>


--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>