<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">


  <title>Ianas's work</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="./static/assets/images/favicon.ico"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="row">
          <div class="text-center">
            <h2 class="h2">001 : Amazon tracker</h2>
          </div>
          <h4>By using Beautifulsoup,requests and smtplib I succeed to track an item from Amazon and be announce by an email
          when the item have the price that I wanted.</h4>
          <img src="./static/assets/images/amazon-tracker.png" height="700" width="1400" class="img-responsive" alt="">

          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
        <div class="row">
           <div class="text-center">
            <h2 class="h2" >002 : Flights Deal</h2>
          </div>
          <h4>Using different packages in Python and an API from Kiwi, I was able to find deals with the best
            price for flight. After finding the best deal, of course I've been notified by an email.
            The code run alone everyday by the same hour.</h4>
          <img src="./static/assets/images/flights-deal.png" height="700" width="1400" class="img-responsive" alt="">
        </div>
          </div>
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
        <div class="row">
           <div class="text-center">
            <h2 class="h2" id="3">003 : USA Game</h2>
          </div>
          <h4>With turtle,pandas and some cvs file, I created an interactive game
              finding and learn the name of the states in USA. A csv file tells you the name of state that you
           missed and need to be learn. </h4>
          <img src="./static/assets/images/USA.png" height="700" width="1400" class="img-responsive" alt="">
        </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>